<!DOCTYPE html>
<html lang="en" ng-app="userDetails">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="userAppointment-ctrl">
    <div>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Upcoming">
                    <md-content layout="row" class="md-padding">
                        <div flex="50">
                            <md-radio-group ng-model="data.group3" >
                                <div data-ng-repeat="val in completed">
                                    <md-card layout-padding>
                                        <md-radio-button ng-value="val._id">
                                            <div><span><em>Date   </em></span><span>{{val.date}}</span></div>
                                            <div><span><em>Time   </em></span><span>{{val.time}}</span></div>
                                        </md-radio-button>
                                    </md-card>
                                </div>
                            </md-radio-group>
                        </div>
                        <div flex="13" flex-offset="10">
                            <div nf-if="completed" layout="column">
                                <md-button class="md-primary md-raised" ng-click="editAppoint()">
                                    EDIT
                                </md-button>
                                <md-button class="md-primary md-raised" ng-click="deleteAppoint()">
                                    DELETE
                                </md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Completed">
                    <md-content class="md-padding" flex="60" flex-offset="20">
                        <md-card>
                            <md-list-item data-ng-repeat="value in completed">
                                <div>
                                    <br><div><span style="font-size: medium"><strong>Date:</strong></span><span style="font-size: medium">{{ value.date }} </span></div><br>
                                    <div><span style="font-size: medium"><strong>Time:</strong></span><span style="font-size: medium">{{ value.time }} </span></div><br>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-card>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</body>
</html>