<!DOCTYPE html>
<html lang="en" ng-app="userDetails">
<head>
    <meta charset="UTF-8">
    <title>Daily Report</title>
    <style>
        span{
            margin:0 5px;
        }

    </style>
</head>
<body ng-controller="userDaily-ctrl">
    <div>
        <div class="profile" layout="row" layout-wrap>
            <md-card flex-offset="5" flex="40" data-ng-repeat="dat in foodActivity">
                <md-toolbar layout="row">
                    <div class="md-toolbar-tools">
                        <h4 flex-offset="35"><strong>{{dat.date}}</strong></h4>
                    </div>
                </md-toolbar>
                <div layout-margin>
                    <h5><strong><u>Food Activity:</u></strong></h5><br>
                    <div layout="row">
                        <p flex="40"><label><em>Food:</em></label>
                        <span>{{dat.food}}</span></p>
                        <p flex="40"><label><em>Drink:</em></label>
                        <span>{{dat.drinks}}</span></p><br>
                    </div>
                    <div layout="row">
                        <p flex="40"><label><em>Place:</em></label>
                            <span>{{dat.place}}</span></p>
                        <p flex="40"><label><em>Time:</em></label>
                            <span>{{dat.time}}</span></p><br>
                    </div>
                    <div layout="row">
                        <label><em>Laxating</em></label>
                        <span>{{dat.laxating}}</span><br><br>
                    </div>
                    <div layout="row">
                        <label><em>Notes  </em></label>
                        <span>   {{dat.notes}}</span><br>
                    </div>
                    <!--div layout="row">
                        <label><em>Notes  </em></label>
                        <span style="width: 30px;height: 30px;"><img id="outputImage" data-ng-src="data:image/png;base64,{{dat.image}}" data-err-src="views/img/supporter_icon.png"/></span><br>
                    </div-->
                </div>
            </md-card>

            <md-card flex-offset="5" flex="40" data-ng-repeat="dat in physicalActivity">
                <md-toolbar layout="row">
                    <div class="md-toolbar-tools">
                        <h4 flex-offset="35"><strong>{{dat.date}}</strong></h4>
                    </div>
                </md-toolbar>
                <div layout-margin>
                    <h5><strong><u>Physical Activity:</u></strong></h5>
                    <label><em>Time</em></label>
                    <span>{{dat.time}}</span><br>
                    <label>Activity</label>
                    <span>{{dat.activity}}</span><br>
                    <label>Duration</label>
                    <span>{{dat.duration}}</span><br>
                </div>
            </md-card>
        </div>
    </div>

    <div data-ng-if="message" layout="row"><h3 flex-offset="35" style="color: #929FBA">{{message}}</h3></div>

</body>
</html>