<!DOCTYPE html>
<html lang="en" ng-app="userDetails">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <style>
        #container {
            margin: 20px;
            width: 400px;
            height: 400px;
            position: relative;
        }
    </style>
</head>
<body ng-controller="userProgress-ctrl">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="container">

            </div>
        </div>
        <div class="col-md-4">
            <bold><p>Current Step : </p></bold>
            <button class="btn btn-success">Promote To Next Step</button>

        </div>
    </div>
</div>
<script>
    var bar = new ProgressBar.Circle(container, {
        color: '#aaa',
        // This has to be the same size as the maximum width to
        // prevent clipping
        strokeWidth:4,
        trailWidth: 1,
        easing: 'easeInOut',
        duration: 1400,
        text: {
            autoStyleContainer: false
        },
        from: { color: '#aaa', width: 1 },
        to: { color: '#333', width: 4 },
        // Set default step function for all animate calls
        step: function(state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);

            var value = Math.round(circle.value() * 100);
            if (value === 0) {
                circle.setText('');
            } else {
                circle.setText(value+"%");
            }

        }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '2rem';

    bar.animate(0.5);  // Number from 0.0 to 1.0
</script>
</body>
</html>