<!DOCTYPE html>
<html lang="en">
<head ng-app="admin">
    <meta charset="UTF-8">
    <title>Supporter Registration</title>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body ng-controller="SupporterReg-ctrl">
<md-content class="md-no-momentum" layout-padding>
    <md-card layout-padding layout="row">
        <form flex="90" action="/user/createUser" method="post">
            <md-input-container class="md-icon-float md-block">
                <md-icon md-svg-src="../views/img/ic_person_outline_black_24px.svg"></md-icon>
                <input ng-model="user.username" name="username" type="text" placeholder="Username">
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-svg-src="../views/img/ic_lock_outline_black_24px.svg"></md-icon>
                <input ng-model="user.password" name="password" type="text" placeholder="password">
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-svg-src="../views/img/ic_person_outline_black_24px.svg" class="email"></md-icon>
                <input ng-model="user.name" name="name" type="text" placeholder="Name">
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-svg-src="../views/img/ic_phone_black_24px.svg" class="email"></md-icon>
                <input ng-model="user.mobilenumber" name="mobilenumber" type="text" placeholder="Contact">
            </md-input-container>

            <input type="text" name="role" value="supporter" hidden>

            <md-button class="md-primary md-raised" type="submit">Create</md-button>
            <md-button class="md-raised" ng-click="onCancel()">Cancel</md-button>
        </form>

    </md-card>


</md-content>
</body>
</html>