<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <title>RegisterUser</title>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        body
        {
            background-repeat:no-repeat;
            background-size:cover;
            position: relative;
        }

        .header{
            height:5%;
            position: absolute;
        }


    </style>
</head>
<body ng-controller="UserReg-ctrl">

<md-content class="md-no-momentum" layout-padding>
    <md-card layout-padding layout="row">
        <form flex="90" action="/user/createUser" method="post">
            <md-input-container class="md-icon-float md-block">
                <label>Username</label>
                <md-icon md-svg-src="../views/img/ic_person_outline_black_24px.svg"></md-icon>
                <input ng-model="user.username" name="username" type="text">
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-svg-src="../views/img/ic_lock_outline_black_24px.svg"></md-icon>
                <input ng-model="user.password" name="password" type="text" placeholder="password">
            </md-input-container>

            <md-input-container class="md-block">
                <md-icon md-svg-src="../views/img/ic_person_outline_black_24px.svg" class="email"></md-icon>
                <md-select name="supporter" ng-model="user.supporter">
                    <md-option ng-repeat="option in data" value="{{option.details.name}}">
                        {{option.details.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <input type="text" name="role" value="user" hidden>


            <md-button flex flex-offset="10" class="md-primary md-raised" type="submit">Create</md-button>
            <md-button flex flex-offset="10" class="md-raised" ng-click="onCancel()">Cancel</md-button>
        </form>

    </md-card>


</md-content>
</body>
</html>