<!DOCTYPE html>
<html lang="en" ng-app="userDetails">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../views/css/challenge.css">
    <style>
        .challenges{
            min-height: 100px;
            margin:20px;
            padding: 15px;
            border: 1px solid palegoldenrod;
        }
    </style>
</head>
<body ng-controller="userChallenge-ctrl">
<div class="container">
    <div class="row profile">

    </div>

    <div class="row">
        <div class="challenges" data-ng-repeat="ichallenge in challenges">
            <span style="float: right">{{ichallenge.createdOn}}</span><br>
            <span style="float: right">{{ichallenge.status}}</span>
            <p style="font-size: medium">
                {{ichallenge.challenge}}
            </p>
        </div>
        <div class="col-md-12">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="Post a Challenge" ng-model="challenge"></textarea>
                        <!--ul>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                        </ul-->
                        <button type="submit" data-ng-click="create()" class="btn btn-success">Post</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>

    </div>
</div>
</body>
</html>